# Don't copy the following files over to docker containers

.git/
.gitignore
.next/                # Existing Next.js builds
node_modules/         # Installed inside container
data/
search/
directus/
.dockerignore
Dockerfile
