# Copy and rename this file to .env
# Set variables according to desired environment

# Use either "dev" or "prod"
ENV="dev"

# ############################## #
# Secrets for database container #
# ############################## #

POSTGRES_DB="prodeko-seminar-dev"
POSTGRES_USER="prodev"
POSTGRES_PASSWORD="prodev-pass"


# ############################## #
# Secrets for Directus container #
# ############################## #

KEY="generate-these-for-prod-use"
SECRET="generate-these-for-prod-use"
PUBLIC_URL="http://localhost:8055"

API_HOST="localhost" # Change to "directus" for local prod build!
API_PORT="8055"
DB_CLIENT="pg"
DB_HOST="localhost" # Change to "database" for local prod build!
DB_PORT="5432"
# ENSURE THESE MATCH THE DATABASE VALUES
DB_DATABASE="prodeko-seminar-dev"
DB_USER="prodev"
DB_PASSWORD="prodev-pass"

ADMIN_EMAIL="dev@prodeko.org"
ADMIN_PASSWORD="lihamaito"

OAUTH_PROVIDERS="prodeko"
OAUTH_PRODEKO_OAUTH="2"
OAUTH_PRODEKO_SCOPE="read write"
OAUTH_PRODEKO_RESPONSE="tokens profile"
OAUTH_PRODEKO_AUTHORIZE_URL="http://localhost:8000/oauth2/auth"
OAUTH_PRODEKO_ACCESS_URL="http://localhost:8000/oauth2/token"
OAUTH_PRODEKO_PROFILE_URL="http://localhost:8000/oauth2/user_details/"
OAUTH_PRODEKO_REDIRECT_URI="http://localhost:3000/"
OAUTH_PRODEKO_KEY="Rdp0fN0u2sOPziZumWHlmipWNHdytexHy9XmbsQm"
OAUTH_PRODEKO_SECRET="AjKlvv9vg3UgZH4JejLl55OFCZDnioJAKDhqvW6O9V9n45px9JTLL82ZDTF3dJmeRSiDWTPbs8LVR93wTTtcFJi8kvgLmsUrie6VkeBj6wHAw0PFOmGxSDY2lED5SEDW"


# ############################# #
# Secrets for Next.js container #
# ############################# #

SERVER_API_URL="http://localhost:8055" # Change "localhost" to "directus" for local prod build!
NEXT_PUBLIC_API_URL="http://localhost:8055"
