# Copy and rename this file to .env
# Set variables according to desired environment

# Use either "dev" or "stag". Main differences:
# - "dev" mounts the local filesystem for hot reloading and does a dev build
# - "stag" emulates production environment with a proper prod build
ENV=dev

# ############################## #
# Secrets for database container #
# ############################## #

POSTGRES_DB=talks-dev
POSTGRES_USER=prodev
POSTGRES_PASSWORD=prodev-pass


# ############################## #
# Secrets for Directus container #
# ############################## #

KEY=generate-these-for-prod-use
SECRET=generate-these-for-prod-use
PUBLIC_URL=http://localhost:8055

API_HOST=localhost
API_PORT=8055
DB_CLIENT=pg
DB_HOST=localhost
DB_PORT=5432
# ENSURE THESE MATCH THE DATABASE VALUES
DB_DATABASE=talks-dev
DB_USER=prodev
DB_PASSWORD=prodev-pass

ADMIN_EMAIL=dev@prodeko.org
ADMIN_PASSWORD=lihamaito

OAUTH_PROVIDERS=prodeko
OAUTH_PRODEKO_OAUTH=2
OAUTH_PRODEKO_SCOPE="read write"
OAUTH_PRODEKO_RESPONSE="tokens profile"
OAUTH_PRODEKO_AUTHORIZE_URL=http://localhost:8000/oauth2/auth
OAUTH_PRODEKO_ACCESS_URL=http://localhost:8000/oauth2/token
OAUTH_PRODEKO_PROFILE_URL=http://localhost:8000/oauth2/user_details/
OAUTH_PRODEKO_REDIRECT_URI=http://localhost:3000/
OAUTH_PRODEKO_KEY=get-this-from-secrets
OAUTH_PRODEKO_SECRET=get-this-from-secrets


# ############################# #
# Secrets for Next.js container #
# ############################# #

SERVER_API_URL=http://localhost:8055
SERVER_MIGRATION_URL=http://localhost:8055
NEXT_PUBLIC_API_URL=http://localhost:8055


# #################### #
# Sentry configuration #
# #################### #

# Set these on the production server
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_SERVER_ROOT_DIR=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
